body{
  background-color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.mother{
    background-color: #221A37;
    border-radius: 25px;
    padding-top: 20px;
    height: 145vh;
    border-radius: 25px;
}


.chon{
  height: 120px;
  width: 100%;
  position: relative;
}
.chon1{
  height: 40px;
  width: 50%;
  
 
}
.chon2{
  height: 60px;
  width: 100%;
padding-left: 30px;
 
}

.chon3{
  height: 40px;
  width: 50%;
  right: 0;
  position: absolute;
  top:0px;
  text-align: center;
}


.child-2{
    float: right;
    width: 100%;  
    height: 125vh;
    background-image: url('img/Background\ Image.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100% 350px;
   
}

.para{
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  line-height: 22px;
}

.butn{
  text-align: center;
   background-color: rgb(122, 36, 202);
   color: white;
   border-radius: 25px;
  height: 30px;
  width: 100px;
}
.hi{
  padding-top: 50px;
    color: #55346A;
    font-size: larger;
    font-weight: bold;
    padding-left: 6px;
}

.hires{
margin-left: 70px;
width: 80%;  
}

.barul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  padding-top: 20px;
}

.barli {
  float: left;
}

.barli a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  
}

.barli a:hover {
  background-color: #402166;
  border-radius: 25px;
  
}

.vl {
border-left: 3px solid #bb0fbb;
height: 180px;
margin-top: 5px;
}

.adf{
list-style-type:disc
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .mother{
    background-color: #221A37;
    border-radius: 25px;
    padding-top: 20px;
    height: 138vh;
    border-radius: 25px;
}


.chon{
  height: 120px;
  width: 100%;
  position: relative;
}
.chon1{
  height: 40px;
  width: 50%;
  
 
}
.chon2{
  height: 60px;
  width: 100%;
padding-left: 30px;
 
}

.chon3{
  height: 40px;
  width: 50%;
  right: 0;
  position: absolute;
  top:0px;
  text-align: center;
}


.para{
  font-size: 16px;
  color: white;
  font-family: sans-serif;
  line-height: 22px;
}

.butn{
  text-align: center;
   background-color: rgb(122, 36, 202);
   color: white;
   border-radius: 25px;
  height: 30px;
  width: 100px;
}
.hi{
  padding-top: 50px;
    margin-left: 30px;
    color: #55346A;
    font-size: larger;
    font-weight: bold;
}

.hires{
margin-left: 70px;
width: 80%;  
}

.barul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: left;
  padding-top: 20px;
}

.barli {
  float: left;
}

.barli a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  
}

.barli a:hover {
  background-color: #402166;
  border-radius: 25px;
  
}

.vl {
border-left: 3px solid #bb0fbb;
height: 180px;
margin-top: 5px;
}

.adf{
list-style-type:disc
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


.mother{
    background-color: #221A37;
    border-radius: 25px;
    padding-top: 30px;
    height: 120vh;
    background-image: url('img/Background\ Image.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90% 100%;
    border-radius: 25px;
}


.child-1{
 
  width: 30%;  
  float: left;
  height: 105vh;
}
.child-2{
 
    float: right;
    width: 58%;  
  
}


.butn{
  text-align: center;
   background-color: rgb(122, 36, 202);
   color: white;
   border-radius: 25px;
  height: 30px; 
  width: 100px;
}
.hi{
  padding-top: 10px;
    margin-left: 100px;
    color: #55346A;
    font-size: 18px;
    font-weight: bold;
}

.hires{
margin-left: 70px;
width: 80%;  
}

.barul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.barli {
  float: left;
}

.barli a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  
}

.barli a:hover {
  background-color: #402166;
  border-radius: 25px;
  
}

.vl {
border-left: 3px solid #bb0fbb;
height: 180px;
margin-top: 5px;
}

.adf{
list-style-type:disc
}


.chon{
  height: 60px;
  width: 100%;
}
.chon1{
  height: 60px;
  width: 20%;
  float: left;
}
.chon2{
  height: 60px;
  width: 59%;
  float: left;
}

.chon3{
  height: 60px;
  width: 20%;
  float: right;
}


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 

.mother{
    background-color: #221A37;
    border-radius: 25px;
    padding-top: 30px;
    height: 105vh;
    background-image: url('img/Background\ Image.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90% 100%;
    border-radius: 25px;
}


.child-1{

  width: 30%;  
  float: left;
  height: 105vh;
}
.child-2{
    float: right;
    width: 58%;  

}

.hi{
    margin-left: 100px;
    color: #55346A;
    font-size: larger;
    font-weight: bold;
    padding-top: 10px;
}

.hires{
margin-left: 70px;
width: 80%;  
}

.barul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.barli {
  float: left;
}

.barli a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  
}

.barli a:hover {
  background-color: #402166;
  border-radius: 25px;
  
}

.vl {
border-left: 3px solid #bb0fbb;
height: 180px;
margin-top: 5px;
}

.adf{
list-style-type:disc
}

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


.mother{
    background-color: #221A37;
    border-radius: 25px;
    padding-top: 30px;
    height: 120vh;
    background-image: url('img/Background\ Image.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 90% 100%;
    border-radius: 25px;
}


.child-1{
 
  width: 30%;  
  float: left;
  height: 105vh;
}
.child-2{
 
    float: right;
    width: 58%;  
  
}


.butn{
  text-align: center;
   background-color: rgb(122, 36, 202);
   color: white;
   border-radius: 25px;
  height: 30px; 
  width: 100px;
}
.hi{
  padding-top: 10px;
    margin-left: 130px;
    color: #55346A;
    font-size: 18px;
    font-weight: bold;
}

.hires{
margin-left: 70px;
width: 80%;  
}

.barul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right;
}

.barli {
  float: left;
}

.barli a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 20px;
  text-decoration: none;
  
}

.barli a:hover {
  background-color: #402166;
  border-radius: 25px;
  
}

.vl {
border-left: 3px solid #bb0fbb;
height: 180px;
margin-top: 5px;
}

.adf{
list-style-type:disc
}


.chon{
  height: 60px;
  width: 100%;
}
.chon1{
  height: 60px;
  width: 20%;
  float: left;
}
.chon2{
  height: 60px;
  width: 59%;
  float: left;
}

.chon3{
  height: 60px;
  width: 20%;
  float: right;
}

}
